$font-stack: 'Trebuchet MS',
'Lucida Sans Unicode',
'Lucida Grande',
'Lucida Sans',
Arial,
sans-serif;
$body-color: #303030;
$black-color: black;
$white-color: white;
$red-color: #912d19;
$grey-color: #9c9c9c;
$background-color: #e4e4e4;
html {
    position: relative;
    min-height: 100%;
}

html,
body {
    font-family: $font-stack;
    color: $body-color;
    background-color: $background-color;
    line-height: normal;
    font-weight: normal;
}

body {
    margin-bottom: 100px;
}

body>.container {
    padding: 60px 15px 0;
}

header,
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

p {
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: bold;
    line-height: normal;
}

a {
    text-decoration: none;
}

input[type=button],
input[type=submit] {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: $red-color;
    color: $white-color;
    &:hover {
        background-color: $body-color;
    }
}

header {
    img {
        width: 10em;
    }
    nav {
        padding: 0.2em 3em !important;
        background-color: $white-color;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
        a {
            color: $black-color !important;
            margin-left: 1.2em;
            &:hover {
                color: $red-color !important;
            }
        }
    }
}

.title {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    color: $black-color;
    &:hover {
        text-decoration: none;
    }
}

.container {
    padding: 0;
}

main {
    flex: 1 0 auto;
    h1 {
        color: $black-color;
        font-size: 1.5em;
    }
    article {
        background-color: $white-color;
        text-align: justify;
        margin-top: 2em;
        .info {
            padding: 1.5em;
            display: flex;
            flex-direction: column;
        }
        h3 {
            color: $black-color;
            margin: 0;
            font-size: 1.3em;
            text-transform: uppercase;
        }
        p {
            font-size: 0.8em;
            width: 100%;
        }
        i {
            color: $grey-color;
            padding: 0.5em 1em 0 0;
        }
        input {
            font-size: 1em;
            padding: 1em;
            width: 100%;
        }
        .container {
            margin: 0;
        }
        .col+.col {
            text-align: right;
        }
    }
    section {
        padding: 3em 4em;
        background-color: $white-color;
        width: 100%;
        form {
            display: flex;
            flex-direction: column;
        }
        input[type=text],
        textarea {
            background-color: #FBFBFB;
            border-radius: 3px;
            border: 1px solid $background-color;
        }
        label {
            font-weight: bold;
            margin-top: 1.2em;
        }
        input[type=submit] {
            padding: 0.4em 1.4em;
            border-radius: 3em;
            margin-top: 2em;
            align-self: flex-end;
        }
    }
}

footer {
    position: absolute;
    padding: 0.5em 3em;
    bottom: 0;
    width: 100%;
    background-color: $white-color;
    span {
        margin-right: auto;
        color: $black-color;
    }
    img {
        margin-left: 2em;
    }
    img#logo_ni {
        width: 2.6em;
    }
    img#logo_ieee {
        width: 6em;
    }
}